

.clearfix{
/*    font-size=100;*/
}

.small_header{
    font-weight:bold;  
/*    font-size:50;*/
}

.team_details {
    list-style:none;
    padding-left:0;
}

.team_profile_picture{
    margin-bottom:50px;   
}

.team_profile_picture_in_list{
    height:100px;
    width:100px;
    overflow:hidden;
    margin-bottom:35px;
}

.member_profile_picture_container{
    display:inline-block;
}

.member_profile_picture_in_list{
    height:100px;
    width:100px;
/*    overflow:hidden;*/
    margin:15px;
    clear:left;
/*    display:inline-block;*/
}

.member_description_in_list{
    display:inline-block;
/*
    list-style:none;
    
*/
}

.list_of_languages{
    list-style:none;
       text-align: center;
}

.main_list_item{
/*    background-color: #1d83d6;*/
}

.small_list_item{
    
    background-color: #f3f3f3;   
}


/*
div.member_description_in_list + ul + li{
    font-weight:bold;        
}
*/

.request_to_join_header{
       font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}

.request_to_join{
    margin-top:50px;
    width:500px;
    clear:auto;
    text-align: center;
}