{% extends "hacker_matcher/base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body %}
		<!-- banner section starts here -->
		<section class="banner" id="home">
			<div class="container">
				<div id="movedown" class="row">
					<div class="col-xs-6 wow fadeInLeft animated">
						<h1>Find your perfect hacakathon team</h1>
						<p>Forget browsing through slack chats for hours, messaging potential teammates then having your heart broken.
                        Our powerful algorithm will match you with compatible hackers who are also looking for a team</p>
                        <button class="signup-btn">Sign-Up</button>                    
						<button class="features-btn">Login</button>
					</div>
				</div>
			</div>
		</section><!-- end of banner section -->

		<!-- feature sectiona -->
		<section class="features text-center" id="features">
			<div class="container">
				<div class="row">
					<h4>  </h4>
					<h2>Advantages of using HackerMatcher</h2>
					<img class="img-responsive" src="{% static "hacker_matcher/img/daag.png" %}" alt="">
					<div class="col-md-3 wow zoomIn animated">
						<h3>Easy</h3>
						<p>You will be connected with potential teammates after answering a series of simple questions</p>
					</div>
					<div class="col-md-3 wow zoomIn animated">
						<h3>Quick</h3>
						<p>Instead of spending hours searching for teammates through forums, our algorithm does it for you in seconds</p>
					</div>
					<div class="col-md-3 wow zoomIn animated">
						<h3>Accurate</h3>
						<p>Your teammate suggestions are the best possible matches based on your answers to our survery questions</p>
					</div>
					<div class="col-md-3 wow zoomIn animated">
						<h3>Large</h3>
						<p>Our algorithm can compare your profile against a large amout of hackers to find the perfect teammates</p>
					</div>
				</div>
			</div>
		</section><!-- end of features section -->

{% endblock %}