{% extends "hacker_matcher/base.html" %}

{% load staticfiles %}

{% block title %}Matches{% endblock %}

{% block body %}
<br><br>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">hackerMatch
                    <small>your matches ;) </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person1.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Charlotte</a>
                </h3>
                <p>Match based on: Languages, Platform, Experience, Genre, Competitive</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person2.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Chris</a>
                </h3>
                <p>Match based on: Languages, Platform, Competitive</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person3.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Jeremy</a>
                </h3>
                <p>Match based on: Languages, Experience, Competitive</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person4.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Dmitri</a>
                </h3>
                <p>Match based on: Languages, Competitive</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person5.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Joe</a>
                </h3>
                <p>Match based on: Platform, Competitive</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person6.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Jesse</a>
                </h3>
                <p>Match based on: Experience, Competitive</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person7.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">James</a>
                </h3>
                <p>Match based on: Languages,Competitive</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person8.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Smith</a>
                </h3>
                <p>Match based on: Languages </p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{% static 'hacker_matcher/img/person9.jpg' %}" width="200" alt="">
                </a>
                <h3>
                    <a href="#">Peter</a>
                </h3>
                <p>Match based on: Experience</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    
{% endblock %}