{% extends "hacker_matcher/base.html" %}

{%  load staticfiles %}

{% block title %}Profile Setup{% endblock %}


{% block body %}
<br><br><br><br>
<div class="container">
    <form class="form-horizontal" role="form">
                
        <h2>Profile</h2>
             
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" placeholder="Last Name, First Name" class="form-control" autofocus>
                </div>
            </div>
        
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Slack Username</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" placeholder="Slack Username" class="form-control" autofocus>
                </div>
            </div>
        
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Year in School</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                        <option>First</option>
                        <option>Second</option>
                        <option>Third</option>
                        <option>Fourth</option>
                    </select>
                </div>
            </div> <!-- /.form-group -->
        
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Genre</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                        <option>Gaming</option>
                        <option>Education</option>
                        <option>Social</option>
                    </select>
                </div>
            </div> <!-- /.form-group -->
        
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                        <option>App</option>
                        <option>Website</option>
                        <option>Other</option>
                    </select>
                </div>
            </div> <!-- /.form-group -->
        
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Competitive/casual?</label>
                <div class="col-sm-9">
                    <select id="country" class="form-control">
                        <option>Competitive</option>
                        <option>Casual</option>
                    </select>
                </div>
            </div> <!-- /.form-group -->
                
            <div class="form-group">
                <label class="control-label col-sm-3">Pro Languages</label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="calorieCheckbox" value="Low calorie">Java
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="saltCheckbox" value="Low salt">Python
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="calorieCheckbox" value="Low calorie">C++
                        </label>
                    </div>
                </div>
            </div> <!-- /.form-group -->
            
            <div class="form-group">
                <label class="control-label col-sm-3">Noob Languages</label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="calorieCheckbox" value="Low calorie">Java
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="saltCheckbox" value="Low salt">Python
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="calorieCheckbox" value="Low calorie">C++
                        </label>
                    </div>
                </div>
            </div> <!-- /.form-group -->
        
            <div class="form-group">
               
                    <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->
    
{% endblock %}