{% extends "hacker_matcher/base.html" %}
{% load staticfiles %}
{% block title %}Team Profile{% endblock %}
{% block body %}
<!-- stuff goes here -->
<link rel="stylesheet" href="{% static "hacker_matcher/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "hacker_matcher/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "hacker_matcher/css/animate.min.css" %}">
<link rel="stylesheet" href="{% static "hacker_matcher/css/style.css" %}">
<link rel="stylesheet" href="{% static "hacker_matcher/css/responsive.css" %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
<script src="{% static "hacker_matcher/js/modernizr.js" %}"></script>
<!--    <link rel="stylesheet" type="text/css" media="all" href="{% static "hacker_matcher/css/buttonStyle.css" %}" >-->
<link rel="stylesheet" href="{% static "hacker_matcher/css/team_profile_style.css" %}">


<div class="container profile">
<div class="row">
<div class="span12">
   <div class="well well-small clearfix" style="text-align:center">
      <div class="row-fluid">
         <br><br><br><br>
          
          
          
         <div class="span2">
            <img class="team_profile_picture" src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=125" class="img-polaroid"/>
         </div>
         <div class="span4">
            <h2>{{ team.name }}</h2>
            <br>
             
             
             
<!--            <ul class="unstyled">-->
            <!--
               <li><i class="icon-phone"></i> 916-241-3613</li>
               <li><i class="icon-envelope"></i> jonniespratley@me.com</li>
               <li><i class="icon-globe"></i> http://jonniespratley.me</li>
               </ul>
               -->
         </div>
         <div class="span6">
            <ul class="inline stats">
                
                                <p>Languages: {% for language in match.team.languages.all %} {{ language }}, {% endfor %}</p>
                <p>Platforms: {% for platform in match.team.platforms.all %} {{ platform }}, {% endfor %} </p>
                <p>Genres: {% for genre in match.team.genres.all %} {{ genre }}, {% endfor %}</p>
                <p>Experience Levels:{% for level in match.team.experience.all %} {{ level }}, {% endfor %}</p>
            </div>
               <li>
                  <span class="small_header">Project Genre
                  </span>

                  <div>{% for genre in team.genres.all %} {{ genre }}, {% endfor %}</div>
                  <br>
               </li>
                
                
               <li>
                  <span class="small_header">Languages Needed
                  </span>
                  <div>
                     <ul>
                        <li>french</li>
                        <li>spanish</li>
                        <li>icelandic</li>
                     </ul>
                  </div>
                  <br>
               </li>
                
                
               <li>
                  <span class="small_header">Working Platform
                  </span>
                  <ul>
                      {% for platform in match.team.platforms.all %} <li>{{ platform }}</li> {% endfor %}
                  </ul>
                  <br>
               </li>
                
                
               <li>
                  <span class="small_header">Project Description
                  </span>
                  <div>
                     blah blah
                  </div>
                  <!--                     <br>-->
               </li>
                
                
            </ul>
            <div>
               <!--/span6-->
            </div>
            <!--/row-->
         </div>
         <!--add button here--> 
         <div>
            <a href="{% url 'match:join_request' team_id=team.id %}"><button class="signup-btn">Request to Join</button></a>
         </div>
          
          <div style="clear:auto">
          
              <div class="request_to_join">
                <div class="request_to_join_header"> Requests to Join</div>
                  <div id="menu">
                        <div class="panel list-group">
                         <a class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">first guy </a>
                         <div id="sm" class="sublinks collapse">
                          <a class="list-group-item small"><div>
                              <div = "member_profile_picture_container"><img class="member_profile_picture_in_list" src="http://images.clipartpanda.com/clipart-smiley-face-smiley_face_02.png"/></div>
                              
                              <div class="member_description_in_list">
                                  
                                  <ul>
                                    <li><span class="small_header">Languages</span></li>
                                        <ul>
                                            <li>Pro:</li>
                                                <ul>
                                                    <li>Python</li>
                                                    <li>Java</li>
                                                </ul>
                                            <li>Noob:</li>
                                                <ul>
                                                    <li>Ruby</li>
                                                </ul>
                                        </ul>
                                      
                                      <li><span class="small_header">Message</span></li>
                                        <div>
                                            yo i'm first guy hurrdurr
                                        </div>
                                  
                                  </ul>
                              
                              </div>
                              
                              
                              </div>
                             
                             </a>
                          <a href="#" class="list-group-item small"> approve request</a>
                         </div>
                            
                            
                            
                            
                            
                            
                         <a  class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">second guy </a>
                         <div id="sl" class="sublinks collapse">
                          <a class="list-group-item small"> <div>
                              
                              
                              
                              </div>
                             
                             </a>
                          <a href="#" class="list-group-item small"> approve request</a>
                         </div>
                         
                            
                         </div>
                        </div>
                        </div>
                </div>
          </div>
     
         <!--Body content-->
      </div>
   </div>
   <!--
      <div class="well clearfix">

      </div>
      -->
</div>
</div>
</div>
{% endblock %}