{% extends "hacker_matcher/base.html" %}
{% load staticfiles %}
{% block title %}Your Teams{% endblock %}

{% block body %}
<!-- stuff goes here -->


    <div class="container profile">
    <div class="row">
       <div class="span12">
          <ul>
             <li>
                <div class="well well-small clearfix" style="text-align:center">
                   <div class="row-fluid">
                      <br><br><br><br>
                      <div class="span4">
                         <h2>Created Teams</h2>
                         <br>
                      </div>
                      <ul>
                         <li>
                            <div class="team_profile_picture_in_list"><img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=125" class="img-polaroid"/>  
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </li>
             <li>
                <div class="well well-small clearfix" style="text-align:center">
                   <div class="row-fluid">
                      <br><br><br><br>
                      <div class="span4">
                         <h2>Joined Teams</h2>
                         <br>
                      </div>
                      <ul>
                         <li>
                            <div class="team_profile_picture_in_list"><img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=125" class="img-polaroid"/>  
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </li>
             <li>
                <div class="well well-small clearfix" style="text-align:center">
                   <div class="row-fluid">
                      <br><br><br><br>
                      <div class="span4">
                         <h2>Your Join Requests</h2>
                         <br>
                      </div>
                      <ul>
                         <li>
                            <div class="team_profile_picture_in_list"><img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=125" class="img-polaroid"/>  
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </li>
          </ul>
       </div>
    </div>
{% endblock %}